body {
  font-family: "Lato", sans-serif;
  font-size: 0.72em;
}
.left_and_right {
  display: flex;
  justify-content: space-between;
}
#skills {
  display: flex;
  justify-content: space-around;
}

#main_title,
#contact_info,
.section_title {
  text-align: center;
}
ul {
  position: relative;
  list-style: none;
  margin-left: 0;
  padding-left: 1.2em;
}
#experience li {
  max-width: 80%;
}
#projects li {
  max-width: 80%;
}
ul li:before {
  content: ">";
  position: absolute;
  left: 0;
}
a {
  text-decoration: none;
  color: black;
}
